.mainnav{
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 45;
    top: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    width: 50px;
    height: 230px;
    overflow: hidden;
    border-radius: 0px 10px 10px 0px;
}
.navbutton1{
   
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
 
}
.navbutton1 a{
    color: black;
}
.NCdiv{
    width: 50px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    font-size: 13px;
    font-weight: 600;
}

.navbutton{
    transform: rotate(90deg);
    margin-top: 30px;
    color: rgb(0, 0, 0);
  
}
.margintop{
    transform: rotate(90deg);
    color: rgb(0, 0, 0);
    margin-top: -40px;
}
.margintop h2{
   color: black;
}